/* 全局 */

.btn-primary.active, .btn-primary:active, .btn-xl.active, .btn-xl:active, .open .dropdown-toggle.btn-primary, .open .dropdown-toggle.btn-xl {
    background-image: none
}

body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a, a:hover, a:focus, a:active {
    color: #fec503;
}

a:hover, a:focus, a:active {
    outline: 0;
}

.btn-primary, .btn-xl, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.text-muted {
    color: #777777;
}

.text-primary, a {
    color: #fed136;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #eeeeee;
}

.bg-darkest-gray {
    background-color: #222222;
}

.btn-primary {
    color: #ffffff;
    background-color: #fed136;
    border-color: #fed136;
}

@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }
}